// It's highly recommended to change the default colors
// to match your app's branding.


$primary = #171929
$secondary = #2e2c3f
$tertiary = #555
$neutral = #E0E1E2
$positive = #21BA45
$negative = #DB2828
$info = black
$warning = #F2C037
$body-background = #171929
$body-color = white
$popover-background = $body-background
$chip-color = $body-color
$layout-aside-background = $body-background



@import '~quasar-variables-styl'
